<div >
  <% @recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe.id) do %>
      <div class="rec-wrapper">
        <div class="rec-homepage-title">
          <%= recipe.title %>
        </div>
        <div class="rec-homepage-photo">
          <%= image_tag recipe.photo.url(:medium) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
