<h3>Welcome <%= @current_user.name %></h3>

<% @recipes.each do |recipe| %>
  <div class="rec-title">
    <%= recipe.title %>
  </div>
  <div>
    <%= image_tag recipe.photo.url(:medium) %>
  </div>
<% end %>