
<div class="center jumbotron">
  <h1>Recipie Box</h1>
</div>

<% if logged_in? %>
  <%= render 'recipe_display' %>
<% else %>
  <h2>New here? <%= link_to "Sign up", new_user_path %> or <%= link_to "sign in", login_path %>.</h2>
<% end %>